## Averaging windows function

In [1]:
## Libraries

#import datashader as ds, pandas as pd
#import datashader.transfer_functions as tf
import rpy2
import numpy as np
import pandas as pd
import scipy as sp
#import datetime
#import holoviews as hv
#from holoviews import opts
#hv.extension('bokeh')
from PIL.Image import core as _imaging
import os, sys
from PIL import Image
from matplotlib.backends.backend_pdf import PdfPages
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#yaml.warnings({'YAMLLoadWarning': False})

### Input Arguments

In [29]:
## Finnish chr11 Recombination rate data for PDGPD
finn_chr11_pdgfd = pd.read_csv("/Users/shabbeerhassan/Desktop/finn_chr11_pdgfd.txt",
                              names = ['position', 'Rate'], delimiter = ' ')
ceu_chr11_pdgfd = pd.read_csv("/Users/shabbeerhassan/Desktop/ceu_chr11_pdgfd.txt",
                             names = ['position', 'Rate'], delimiter = ' ')

In [18]:
## Finnish recombination maps
finn_chr1 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_1_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr2 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_2_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr3 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_3_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr4 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_4_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr5 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_5_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr6 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_6_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr7 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_7_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr8 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_8_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr9 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_9_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr10 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_10_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr11 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_11_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr12 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_12_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr13 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_13_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr14 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_14_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr15 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_15_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr16 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_16_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr17 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_17_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr18 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_18_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr19 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_19_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr20 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_20_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr21 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_21_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])
finn_chr22 = pd.read_csv("/Users/shabbeerhassan/finn_maps/FIN_recombination_map_hapmap_format_hg19_chr_22_eagle_based.txt",
                               header=None, names = ['position', 'Rate'], delimiter = ' ', skiprows = [0], usecols = [1,2])

In [35]:
## CEU recombination maps
ceu_chr1 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_1.txt",
                        header = None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr2 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_2.txt",
                        header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr3 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_3.txt",
                        header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr4 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_4.txt",
                        header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr5 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_5.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr6 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_6.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr7 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_7.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr8 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_8.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr9 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_9.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr10 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_10.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr11 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_11.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr12 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_12.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr13 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_13.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr14 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_14.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr15 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_15.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr16 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_16.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr17 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_17.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr18 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_18.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr19 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_19.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr20 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_20.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr21 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_21.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])
ceu_chr22 = pd.read_csv("/Users/shabbeerhassan/maps/CEU/CEU_recombination_map_hapmap_format_hg19_chr_22.txt",
                         header=None, names = ['position', 'Rate'], delimiter = '\t', skiprows = [0], usecols = [1,2])

In [36]:
ceu_chr1.head(10)

   position      Rate
0     11007  4.597120
1     49297  4.597120
2     49553  3.153924
3     51478  3.153924
4     58813  3.153924
5     59039  1.747913
6     59107  1.747913
7     69896  1.504243
8     72525  1.504243
9     73489  1.416481

### Function to get datasets in various scales (averaging values within windows)

In [37]:
## Function for averaging in windows

## Logic:
## 1). Read ORIGINAL dataframe
## 2). Access it row by row
## 3). Make an if-condition to check that the "value" of column "Positions" in the row 
##     should be less than value + 10000 
## 4). If yes above, then in the FINAL dataframe, store the above "Position" value
## 5). Keep on accessing the ORIGINAL dataframe, row by row, and keep on storing the values of each rows
##     for all the named columns in a temporary dataframe
## 6). When the condition in #3 fails, then store the value of column "Position" for the last row indexed,
##     in the FINAL dataframe
## 7). When the condition in #3 fails, then take mean of all the "stored" columns in the temporary dataframe
## 8). Store the above mean values in different columns in the FINAL dataframe
## 9). Increment the counter aka "position" by 10000 to create mean values every 10kb.

def kb_scale(x, win):

    # Empty lists
    position_temp = []
    rate_temp = []

    final_df =  pd.DataFrame(columns=['Pos', 'Rate'])
    
    # Initiating the window 
    window_start = x.iloc[1]['position']

    # Loop through the entire dataframe row by row
    for i in range(x.shape[0]):
        
        # Checking the condition that a position is within the window
        if x.iloc[i]['position'] <= (window_start + win):
         
            # Save the start position for the window
            position_temp.append(x.iloc[i]['position']) 

            # Select rates
            rate_temp.append(x.iloc[i]['Rate'])
            
        else:
            # Save everything in a dataframe
            new_df = pd.DataFrame( [[ position_temp[0], np.mean(rate_temp)]],
                               columns=['Pos', 'Rate'])
            
            # Concantenate values for all columns above as each position is looped through
            final_df = pd.concat([final_df,new_df])

            # Set the temp lists to empty
            position_temp = [x.iloc[i]['position']]
            rate_temp = [x.iloc[i]['Rate']]
            
            # Set the window index to where the "position + window size" ends, so that window moves ahead 
            window_start = x.iloc[i]['position']


    # Return the Final dataframe
    return(final_df)

In [38]:
finn_chr1.head()

   position      Rate
0     11007  9.713192
1     47158  2.547935
2     55544  1.860405
3     59039  1.806497
4     64930  1.784794

 ### Recomb rates of PDGPD region - 10kb, 20kb, 50kb scales

In [62]:
## Finnish data for 10kb, 20kb, 50kb scales
Finns_PDGPD_10kb = kb_scale(finn_chr11_pdgfd, 10000)
Finns_PDGPD_20kb = kb_scale(finn_chr11_pdgfd, 20000)
Finns_PDGPD_50kb = kb_scale(finn_chr11_pdgfd, 50000)

## CEU data for 10kb, 20kb, 50kb scales
CEU_PDGPD_10kb = kb_scale(ceu_chr11_pdgfd, 10000)
CEU_PDGPD_20kb = kb_scale(ceu_chr11_pdgfd, 20000)
CEU_PDGPD_50kb = kb_scale(ceu_chr11_pdgfd, 50000)

In [63]:
Finns_PDGPD_10kb.head()
CEU_PDGPD_10kb.head()

Finns_PDGPD_20kb.head()
CEU_PDGPD_20kb.head()

Finns_PDGPD_50kb.head()
CEU_PDGPD_50kb.head()

           Pos      Rate
0  103008290.0  0.111012
0  103032796.0  0.164669
0  103069470.0  0.299415
0  103095640.0  0.281536
0  103108644.0  0.140399

           Pos      Rate
0  103008290.0  0.202699
0  103027233.0  0.153894
0  103059864.0  0.135655
0  103073091.0  0.092285
0  103108104.0  0.056059

           Pos      Rate
0  103008290.0  0.111012
0  103032796.0  0.164669
0  103069470.0  0.299415
0  103095640.0  0.221048
0  103137836.0  0.667652

           Pos      Rate
0  103008290.0  0.185635
0  103028950.0  0.140411
0  103059864.0  0.113970
0  103108104.0  0.056059
0  103139827.0  1.975123

           Pos      Rate
0  103008290.0  0.118678
0  103069470.0  0.244558
0  103137836.0  0.421986
0  103200569.0  0.417137
0  103250587.0  0.084425

           Pos      Rate
0  103008290.0  0.175585
0  103059864.0  0.090806
0  103139827.0  1.732475
0  103190414.0  0.453669
0  103243627.0  0.152173

In [64]:
Finns_PDGPD_10kb.shape[0]
CEU_PDGPD_10kb.shape[0]

Finns_PDGPD_20kb.shape[0]
CEU_PDGPD_20kb.shape[0]

Finns_PDGPD_50kb.shape[0]
CEU_PDGPD_50kb.shape[0]

88

95

62

63

30

33

### Save to file

In [65]:
Finns_PDGPD_10kb.to_csv("/Users/shabbeerhassan/Desktop/Finns_PDGPD_10kb.txt", header = True, index = False, sep = " ")
CEU_PDGPD_10kb.to_csv("/Users/shabbeerhassan/Desktop/CEU_PDGPD_10kb.txt", header = True, index = False, sep = " ")


Finns_PDGPD_20kb.to_csv("/Users/shabbeerhassan/Desktop/Finns_PDGPD_20kb.txt", header = True, index = False, sep = " ")
CEU_PDGPD_20kb.to_csv("/Users/shabbeerhassan/Desktop/CEU_PDGPD_20kb.txt", header = True, index = False, sep = " ")


Finns_PDGPD_50kb.to_csv("/Users/shabbeerhassan/Desktop/Finns_PDGPD_50kb.txt", header = True, index = False, sep = " ")
CEU_PDGPD_50kb.to_csv("/Users/shabbeerhassan/Desktop/CEU_PDGPD_50kb.txt", header = True, index = False, sep = " ")

### Recomb rates - 5Mb scale

In [39]:
## Finnish data for 5Mb scale
Finns_chr1_5Mb = kb_scale(finn_chr1, 5000000)
Finns_chr2_5Mb = kb_scale(finn_chr2, 5000000)
Finns_chr3_5Mb = kb_scale(finn_chr3, 5000000)
Finns_chr4_5Mb = kb_scale(finn_chr4, 5000000)
Finns_chr5_5Mb = kb_scale(finn_chr5, 5000000)
Finns_chr6_5Mb = kb_scale(finn_chr6, 5000000)
Finns_chr7_5Mb = kb_scale(finn_chr7, 5000000)
Finns_chr8_5Mb = kb_scale(finn_chr8, 5000000)
Finns_chr9_5Mb = kb_scale(finn_chr9, 5000000)
Finns_chr10_5Mb = kb_scale(finn_chr10, 5000000)
Finns_chr11_5Mb = kb_scale(finn_chr11, 5000000)
Finns_chr12_5Mb = kb_scale(finn_chr12, 5000000)
Finns_chr13_5Mb = kb_scale(finn_chr13, 5000000)
Finns_chr14_5Mb = kb_scale(finn_chr14, 5000000)
Finns_chr15_5Mb = kb_scale(finn_chr15, 5000000)
Finns_chr16_5Mb = kb_scale(finn_chr16, 5000000)
Finns_chr17_5Mb = kb_scale(finn_chr17, 5000000)
Finns_chr18_5Mb = kb_scale(finn_chr18, 5000000)
Finns_chr19_5Mb = kb_scale(finn_chr19, 5000000)
Finns_chr20_5Mb = kb_scale(finn_chr20, 5000000)
Finns_chr21_5Mb = kb_scale(finn_chr21, 5000000)
Finns_chr22_5Mb = kb_scale(finn_chr22, 5000000)

In [40]:
## CEU data for 5Mb scale
CEU_chr1_5Mb = kb_scale(ceu_chr1, 5000000)
CEU_chr2_5Mb = kb_scale(ceu_chr2, 5000000)
CEU_chr3_5Mb = kb_scale(ceu_chr3, 5000000)
CEU_chr4_5Mb = kb_scale(ceu_chr4, 5000000)
CEU_chr5_5Mb = kb_scale(ceu_chr5, 5000000)
CEU_chr6_5Mb = kb_scale(ceu_chr6, 5000000)
CEU_chr7_5Mb = kb_scale(ceu_chr7, 5000000)
CEU_chr8_5Mb = kb_scale(ceu_chr8, 5000000)
CEU_chr9_5Mb = kb_scale(ceu_chr9, 5000000)
CEU_chr10_5Mb = kb_scale(ceu_chr10, 5000000)
CEU_chr11_5Mb = kb_scale(ceu_chr11, 5000000)
CEU_chr12_5Mb = kb_scale(ceu_chr12, 5000000)
CEU_chr13_5Mb = kb_scale(ceu_chr13, 5000000)
CEU_chr14_5Mb = kb_scale(ceu_chr14, 5000000)
CEU_chr15_5Mb = kb_scale(ceu_chr15, 5000000)
CEU_chr16_5Mb = kb_scale(ceu_chr16, 5000000)
CEU_chr17_5Mb = kb_scale(ceu_chr17, 5000000)
CEU_chr18_5Mb = kb_scale(ceu_chr18, 5000000)
CEU_chr19_5Mb = kb_scale(ceu_chr19, 5000000)
CEU_chr20_5Mb = kb_scale(ceu_chr20, 5000000)
CEU_chr21_5Mb = kb_scale(ceu_chr21, 5000000)
CEU_chr22_5Mb = kb_scale(ceu_chr22, 5000000)

In [42]:
CEU_chr9_5Mb.head(10)
ceu_chr9.head(10)

          Pos      Rate
0     10468.0  4.031695
0   5062609.0  3.130514
0  10077402.0  3.182940
0  15079533.0  2.974678
0  20081919.0  2.065414
0  25101340.0  2.723168
0  30110918.0  1.557908
0  35112021.0  2.662049
0  40144752.0  1.159593
0  45352625.0  1.248768

   position      Rate
0     10468  2.142214
1     38403  2.419987
2     41421  2.419987
3     41633  1.844063
4     41970  1.844063
5     44536  1.844063
6     44722  1.659108
7     44993  1.659108
8     45207  1.659108
9     45439  1.374923

### Save to file

In [44]:
Finns_chr1_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr1_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr2_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr2_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr3_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr3_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr4_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr4_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr5_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr5_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr6_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr6_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr7_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr7_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr8_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr8_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr9_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr9_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr10_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr10_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr11_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr11_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr12_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr12_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr13_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr13_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr14_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr14_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr15_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr15_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr16_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr16_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr17_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr17_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr18_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr18_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr19_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr19_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr20_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr20_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr21_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr21_5Mb.txt", header = True, index = False, sep = " ")
Finns_chr22_5Mb.to_csv("/Users/shabbeerhassan/Desktop/Finns_chr22_5Mb.txt", header = True, index = False, sep = " ")

In [45]:
CEU_chr1_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr1_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr2_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr2_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr3_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr3_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr4_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr4_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr5_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr5_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr6_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr6_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr7_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr7_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr8_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr8_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr9_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr9_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr10_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr10_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr11_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr11_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr12_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr12_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr13_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr13_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr14_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr14_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr15_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr15_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr16_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr16_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr17_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr17_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr18_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr18_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr19_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr19_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr20_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr20_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr21_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr21_5Mb.txt", header = True, index = False, sep = " ")
CEU_chr22_5Mb.to_csv("/Users/shabbeerhassan/Desktop/CEU_chr22_5Mb.txt", header = True, index = False, sep = " ")